// For mobile
@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    header {
      display: flex;
      align-items: center;
      background-image: linear-gradient(
        90deg,
        #ff0000,
        #ffa500,
        #ffff00,
        #008000,
        #0000ff,
        #4b0082,
        #ee82ee
      );
      img {
        height: 7rem;
        width: auto;
        margin: 1rem 2rem;
      }
      h1 {
        margin-right: 2rem;
        color: white;
      }
    }
    form {
      padding: 1rem;
      width: 90%;
      margin: auto;
      button {
        margin: 1rem 0;
        background-color: #4b0082;

        color: #ffffff;
        font-weight: bold;
      }
    }
    .meme {
      position: relative;
      width: 90%;
      margin: auto;
      img {
        width: 90vw;
      }
      h2 {
        position: absolute;
        width: 90%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        margin: 15px 0;
        padding: 0 5px;
        font-family: impact, sans-serif;
        font-size: 2em;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
          -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000,
          -2px 0 0 #000, 2px 2px 5px #000;
        &:nth-child(2) {
          top: 0;
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }
    }
  }
}

// For desktop
@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    header {
      display: flex;
      align-items: center;
      margin-left: 0;
      justify-content: center;
      background-image: linear-gradient(
        90deg,
        #ff0000,
        #ffa500,
        #ffff00,
        #008000,
        #0000ff,
        #4b0082,
        #ee82ee
      );
      img {
        height: 7rem;
        padding: 1rem 2rem;
      }
      h1 {
        margin-right: 2rem;
        color: white;
      }
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      form {
        position: relative;
        padding: 1rem;
        left: -13rem;
        button {
          margin: 1rem 0;
          background-color: #4b0082;
          // background-image: linear-gradient(
          //   -90deg,
          //   #ff0000,
          //   #ffa500,
          //   #ffff00,
          //   #008000,
          //   #0000ff,
          //   #4b0082,
          //   #ee82ee
          // );
          color: #ffffff;
          font-weight: bold;
        }
      }
      .meme {
        position: relative;
        img {
          max-width: 650px;
        }
        h2 {
          position: absolute;
          width: 90%;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
          margin: 15px 0;
          padding: 0 5px;
          font-family: impact, sans-serif;
          font-size: 2em;
          text-transform: uppercase;
          color: white;
          letter-spacing: 1px;
          text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
            -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000,
            -2px 0 0 #000, 2px 2px 5px #000;
          &:nth-child(2) {
            top: 0;
          }
          &:nth-child(3) {
            bottom: 0;
          }
        }
      }
    }
  }
}
